body {
    font-family: 'Roboto', 'Arial', sans-serif;
    max-width: 480px;
    margin: 60px auto;
    padding: 24px;
    background: #faf5ff;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgb(222 210 255 / 40%);
    text-align: center;
    color: #3b3543;
}

h1 {
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.1em;
    margin-bottom: 24px;
    color: #604da4;
}

input[type="file"] {
    font-size: 1rem;
    border: 2px solid #d1c7f6;
    padding: 14px 18px;
    border-radius: 14px;
    background: #f3eefe;
    transition: border-color 0.3s;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 30px;
}

input[type="file"]:focus,
input[type="file"]:hover {
    border-color: #aea1f4;
    outline: none;
}

button {
    width: 100%;
    background: #aea1f4;
    border-radius: 16px;
    color: #4e4468;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 18px 0;
    border: none;
    box-shadow: 0 4px 12px rgb(189 149 245 / 40%);
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

button:hover {
    background: #8a7dde;
    color: #3f346b;
}

#message {
    margin-top: 24px;
    min-height: 72px;
    font-weight: 600;
    font-size: 1.15rem;
    line-height: 1.4;
}

#message.error {
    color: #b0413e;
}

#message.success {
    color: #4f744d;
}

